* {padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

main {background-color: #f4f4f4;}

/*HEADER  */
header {background-color: #f4f4f4;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 45;
        }
    
.navbar_list--menu {
        display: inline-block;
        padding: 0px 20px;
        list-style-type: none;
        transition: all 0.3s ease 0s;
        color: #c0b283;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;}
    ul li:hover {
        background-color: #c0b283;
        color: white;}


.linea {width: 100%;
background-color: #373737;
height: 20%;}

/*SLIDE  */
.carousel-item {height: 550px;}
.darken {background-color: #000;}
.darken img {opacity: 0.4}

/* NOVEDADES */
.container_novedades {width: 100%;
    height: 600px;
    background-color: #f4f4f4;}
.container_novedades--titulo {text-align:left;
    padding-top: 2%;
    color: #373737;
    font-weight: bolder;
    margin-left: 2%;}
.container_novedades--catalogo {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}
.card {width: 300px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #f4f4f4;}
.container_novedades--catalogo .card:hover {transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);}

/* LO MAS VENDIDO */
.container_vendidos {width: 100%;
    height: 600px;
    background-color: #f4f4f4;}
.container_vendidos--titulo {text-align: left;
    padding-top: 2%;
    color: #373737;
    font-weight: bolder;
    margin-left: 2%;}
.container_vendidos--catalogo {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}
.container_vendidos--catalogo .card:hover {transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);}

/* COLECCIONES DORADAS */
.container_colecciones {width: 80%;
    height: 200px;
    background-color: #c0b283;
    margin-left: 10%;
    margin-top: 2%;}
.container_colecciones--titulo {text-align: left;
    margin-left: 5%;
    padding-top: 2%;}  
.container_colecciones--texto {text-align: left;
    margin-left: 5%;
    padding-right: 60%;}
.container_colecciones img {width: 300px;}

/* HR UBICACION */
hr {margin-left: 10%;
    margin-right: 10%;}

/* UN LIBRO UN ARBOL */
.container_campaña {width: 80%;
    height: 200px;
    background-color: #c0b283;
    margin-left: 10%;
    margin-top: 2%;}
.container_campaña--titulo {text-align: left;
    margin-left: 5%;
    padding-top: 2%;}  
.container_campaña--texto {text-align: left;
    margin-left: 5%;
    padding-right: 60%;}
.container_campaña img {width: 300px;}

/* CONTACTO */

form {width: 450px;
    margin: auto;
    background: #cccccc;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 7px;
    margin-bottom: 2%;}
.contacto_texto {text-align: center;}
input, textarea {width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;}

/* FOOTER */
footer {height: 200px;
    width: 100%;
    background-color: #dcd0c0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #373737;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;}

.redes {display: flex;}

/* MEDIA QUERIES */

@media (max-width: 767px) {

    .carousel-item {width: 100%;
    height: 500px;} 
    .carousel-item img {height: 600px;}   
    .container_colecciones--texto {padding: 0%;}
    .container_campaña--texto {padding: 0%;}
    .navbar_list {display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10%;}
    } 